 <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="/home">
                    <img src="../../images/icons8-shopping-bag-50.png" width="30" height="30" class="d-inline-block align-top"
                        alt="VERPUR Shop Logo">
                    VERPUR Shop
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="nav-dropdown" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Pies
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="nav-dropdown">
                               <li><a class="dropdown-item" href="/ultrabooks">Ultrabooks</a></li>
                                <li><a class="dropdown-item" href="/ultraportables">Ultraportable</a></li>
                                <li><a class="dropdown-item" href="/macbooks">MacBooks</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                 <li><a class="dropdown-item" href="/alllaptops">All Laptops</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/subscription">
                                Laptop subscription
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link " href="/login">
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <main role="main">
        <div class="container-fluid jumbotron jumbotron-other py-5">
            <div class="container">
                <h1 class="display-3 fw-bold text-white">All done!</h1>
            </div>
        </div>

        <div class="container">

            <nav class="my-3 ms-3" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Order placed</li>
                </ol>
            </nav>

            <div class="row gx-5">
                <div class="col-md-8">
                    <h2>We are getting started on your order. <span class="text-muted">Just a few more days before your
                            laptop arrives!</span></h2>
                    <p class="lead">Laptop Order details</p>
                </div>
                <div class="col-md-4">
                    <img src="images/bethanysquare.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>

        </div>
    </main>